<app-menu></app-menu>
<div class="text-center" *ngIf="isLogged; else loggedOut" [@fadeInOut]>
    <h2>¡Ya has iniciado sesión!</h2>
</div>


<ng-template #loggedOut>
  <head>
    <link rel="stylesheet" href="./login.component.css">
  </head>
  <body>
    <div class="form-structor">
      <div class="card" [@fadeInScale]>
        <div class="login slide-up">
          <div class="center">

 
              <h2 class="form-title" id="login">Inicio Sesion</h2>
   
            
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
              <div class="form-holder">
               
                <input type="text" name="login" id="login" class="input" placeholder="Usuario"   [(ngModel)]="loginUsuario.login" required>
                
                <input type="password" class="input"  name="password" id="password" placeholder="Contraseña"  [(ngModel)]="loginUsuario.password" required>
              </div>
              <button class="submit-btn" [disabled]="!f.valid" [@buttonAnimation]>
                 Iniciar Sesión
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</ng-template>

