<div class="container">
    <form  class="mat-dialog-content"  id="iFormCurso" [formGroup]="formActualiza" >
    <div class="row">
        <mat-toolbar style="background-color: rgb(48, 52, 52);" >    
            <span style="color: rgb(255, 255, 255);">Actualiza Curso</span>    
            </mat-toolbar>  
    </div>
    <div  class="row"  style="margin-top: 5%">
                <mat-form-field class="input col-md-8">
                    <mat-label>Nombre</mat-label>
                    <input  matInput [(ngModel)] ="objCurso.nombre"  formControlName="validaNombre" name="nombre" >
                    <mat-hint style="color:red" *ngIf="formActualiza.controls.validaNombre.touched">
                        <span *ngIf="formActualiza.controls.validaNombre.hasError('required')">
                        El Nombre es requerido
                        </span>
                        <span *ngIf="formActualiza.controls.validaNombre.hasError('pattern')">
                        El Nombre es 3 a 30 caracteres
                        </span>
                    </mat-hint>
                </mat-form-field>
    
            <mat-form-field class="input col-md-4">
                <mat-label>Grado</mat-label>
                <mat-select [(ngModel)] = "objCurso.grado!.idGrado" formControlName="validaGrado" name="grado">
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option  *ngFor="let x of lstGrado"  [value]="x.idGrado">
                        {{x.nombre}}
                    </mat-option> 
                </mat-select>
                <mat-hint style="color:red" *ngIf="formActualiza.controls.validaGrado.touched" >
                    <span *ngIf="formActualiza.controls.validaGrado.hasError('min')">
                        El grado es requerido
                    </span>
                </mat-hint>  
            </mat-form-field> 
    </div>

        <div  mat-dialog-actions>
                <button mat-raised-button 
                        type="submit" 
                        color="primary" 
                        (click)="actualizarCurso()"  
                        [mat-dialog-close]="1">
                        Actualiza
                </button>
                <button mat-button 
                        (click)="onNoClick()"
                        color="primary">
                        Salir
                </button>
        </div>

    </form>
</div>
