<app-menu></app-menu>
<div class="container mat-elevation-z8" >
    <div class="row">
        <mat-toolbar style="background-color: rgb(48, 52, 52);">    
        <span style="color: rgb(255, 255, 255);"> Mantenimiento de  Docentes </span>    
        </mat-toolbar>  
    </div>


    <div class="row" style="margin-top: 3% ; margin-left:3px">
        <button mat-raised-button color="primary" type="button"  (click)="openAddDocente()"class="add">
        Registrar  <mat-icon>add</mat-icon></button>      
    </div>

        <div class="row" style="margin-top: 3%">
            
            <mat-table  #table  class="mat-cell" [dataSource]="dataSource" >
                <ng-container matColumnDef="idDocente">
                    <mat-header-cell  mat-header-cell *matHeaderCellDef >Id</mat-header-cell>
                    <mat-cell *matCellDef="let aux" >{{ aux.idDocente  }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <mat-header-cell  mat-header-cell *matHeaderCellDef >Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let aux" >{{ aux.nombre}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="apellidos">
                    <mat-header-cell  mat-header-cell *matHeaderCellDef >apellidos</mat-header-cell>
                    <mat-cell *matCellDef="let aux" >{{ aux.apellidoPa +" "+ aux.apellidoMa}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="curso">
                    <mat-header-cell  mat-header-cell *matHeaderCellDef >Curso</mat-header-cell>
                    <mat-cell *matCellDef="let aux" >{{ aux.curso!.nombre}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="telefono">
                    <mat-header-cell  mat-header-cell *matHeaderCellDef >Telefono</mat-header-cell>
                    <mat-cell *matCellDef="let aux" >{{ aux.telefono}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="edad">
                    <mat-header-cell  mat-header-cell *matHeaderCellDef >Edad</mat-header-cell>
                    <mat-cell *matCellDef="let aux" >{{ aux.edad }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="dni">
                    <mat-header-cell  mat-header-cell *matHeaderCellDef >DNI</mat-header-cell>
                    <mat-cell *matCellDef="let aux" >{{ aux.dni}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="sexo">
                    <mat-header-cell  mat-header-cell *matHeaderCellDef >Sexo</mat-header-cell>
                    <mat-cell *matCellDef="let aux" >{{ aux.sexo!.nombre }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <mat-header-cell  mat-header-cell *matHeaderCellDef >Acciones</mat-header-cell>

                    <mat-cell *matCellDef="let aux; let i=index;">

                        <button mat-icon-button color="accent" (click)="UpdateDocente(aux)">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                
                        <button mat-icon-button color="accent" (click)="eliminarDocente(aux)">
                            <mat-icon aria-label="Delete">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let aux; columns: displayedColumns"></mat-row>

            </mat-table>
            <mat-paginator [pageSizeOptions]="[6,8,10]" showFirstLastButtons></mat-paginator>

        </div>


</div>
